<section
  id="contact"
  class="w-full h-screen bg-[var(--muted)] flex flex-col items-center justify-center gap-4"
>
  <h2 class="text-6xl">Contacto</h2>
  <form
    action=""
    class="flex flex-col gap-4 w-96 bg-[var(--background)] p-4 rounded-lg shadow-2xl"
  >
    <input type="text" placeholder="Nombre" class="p-2 rounded-lg" />
    <input type="email" placeholder="Email" class="p-2 rounded-lg" />
    <textarea placeholder="Mensaje" class="p-2 rounded-lg"></textarea>
    <button
      type="submit"
      class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
    >
      Enviar
    </button>
  </form>
</section>
