---
import { Button } from "../ui/button";
---

<section
  id="contact"
  class="w-full h-screen bg-gradient-to-t from-muted to-background flex flex-col items-center justify-center gap-4"
>
  <h2 class="sm:text-6xl text-4xl">Contacto</h2>
  <form
    action=""
    class="flex flex-col gap-4 w-72 sm:w-96 bg-background p-4 rounded-lg shadow-2xl"
  >
    <input type="text" placeholder="Nombre" class="p-2 rounded-lg" />
    <input type="email" placeholder="Email" class="p-2 rounded-lg" />
    <textarea placeholder="Mensaje" class="p-2 rounded-lg"></textarea>
    <Button type="submit" className="cursor-pointer"> Enviar </Button>
  </form>
</section>
