---
import {
  SignedIn,
  SignedOut,
  SignInButton,
  UserButton,
} from "@clerk/astro/components";
import { Button } from "../ui/button";
---

<section
  class="w-full h-screen bg-background flex flex-col items-center justify-center gap-4"
>
  <h1 class="text-8xl font-bold">
    <span class="text-green-600">PRO</span>/<span class="text-red-500"
      >CONT</span
    >
  </h1>
  <p class="text-xl w-96 text-center">
    App para facilitar la toma de decisiones a traves de un comparativa de pros
    y contras
  </p>
  <SignedOut>
    <SignInButton
      mode="modal"
      class="cursor-pointer p-2 rounded-lg bg-primary text-primary-foreground hover:bg-primary/90"
    >
      Comienza Ahora
    </SignInButton>
  </SignedOut>
  <SignedIn>
    <UserButton showName={true} />
    <a href="/dashboard">
      <Button className="cursor-pointer"> Entrar a Dashboard </Button>
    </a>
  </SignedIn>
</section>
