---

---

<section
  class="w-full h-screen bg-[var(--background)] flex flex-col items-center justify-center"
>
  <h1 class="text-8xl font-bold">
    <span class="text-green-600">PRO</span>/<span class="text-red-500"
      >CONT</span
    >
  </h1>
  <p class="text-xl w-96 text-center">
    App para facilitar la toma de decisiones a traves de un comparativa de pros
    y contras
  </p>
</section>
