---
import { Button } from "../ui/button";
---

<nav
  class="w-full h-16 bg-primary text-primary-foreground flex justify-between items-center"
>
  <ul class="flex flex-1 justify-around gap-4">
    <li>
      <Button
        variant="link"
        className="cursor-pointer text-primary-foreground hover:text-primary-foreground/90"
        ><a href="#service">Servicio</a></Button
      >
    </li>
    <li>
      <Button
        variant="link"
        className="cursor-pointer text-primary-foreground hover:text-primary-foreground/90"
        ><a href="#pricing">Precios</a></Button
      >
    </li>
    <li>
      <Button
        variant="link"
        className="cursor-pointer text-primary-foreground hover:text-primary-foreground/90"
        ><a href="#contact">Contacto</a>
      </Button>
    </li>
  </ul>
</nav>
