<nav
  class="w-full h-16 bg-[var(--foreground)] text-[var(--background)] flex justify-between items-center"
>
  <ul class="flex flex-1 justify-around">
    <li><a href="#service">Servicio</a></li>
    <li><a href="#pricing">Precios</a></li>
    <li><a href="#contact">Contacto</a></li>
  </ul>
</nav>
