<section
  class="w-full h-screen bg-[var(--background)] flex flex-col items-center justify-center gap-4"
>
  <h2 class="text-6xl">Precios</h2>
  <div class="w-full flex gap-16 justify-center">
    <div
      class="w-52 h-64 bg-[var(--background)] p-4 rounded-lg shadow-2xl flex flex-col items-center justify-center"
    >
      <h3 class="text-2xl">Free</h3>
      <ul>
        <li>✅1 Tabla almacenada en la base de datos</li>
        <li>✅Almacenar base de datos en el localStorage</li>
        <li>❌No puedes crear mas tablas</li>
      </ul>
      <p class="text-2xl font-bold">$0</p>
    </div>
    <div
      class="w-52 h-64 bg-[var(--background)] p-4 rounded-lg shadow-2xl flex flex-col items-center justify-center"
    >
      <h3 class="text-2xl">Pro</h3>
      <ul>
        <li>✅10 Tablas almacenadas en la base de datos</li>
        <li>✅Almacenar base de datos en el localStorage</li>
        <li>❌No puedes crear mas tablas</li>
      </ul>
      <p class="text-2xl font-bold">$3</p>
    </div>
    <div
      class="w-52 h-64 bg-[var(--background)] p-4 rounded-lg shadow-2xl flex flex-col items-center justify-center"
    >
      <h3 class="text-2xl">Ultimate</h3>
      <ul>
        <li>✅100 Tablas almacenadas en la base de datos</li>
        <li>✅Almacenar base de datos en el localStorage</li>
      </ul>
      <p class="text-2xl font-bold">$6</p>
    </div>
  </div>
</section>
