---
import { PricingTable } from "@clerk/astro/components";
---

<section
  id="pricing"
  class="w-full h-screen flex flex-col items-center justify-center gap-4"
>
  <h2 class="sm:text-6xl text-4xl">Precios</h2>
  <div class="w-full flex gap-16 justify-center">
    <div class="sm:max-w-[800px] w-72 m-0 py-0 px-1">
      <PricingTable />
    </div>
  </div>
</section>
