---
import AppLayout from "@src/layouts/AppLayout.astro";
const { id } = Astro.params;
import { pb } from "@src/lib/pocketbase";
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from "@src/components/ui/card";
import { Button } from "@src/components/ui/button";
import { XIcon, CheckIcon } from "lucide-react";

const board = await pb.collection("boards").getOne(id as string);
---

<AppLayout>
  <div class="w-3/4 h-full p-4 flex flex-col gap-4">
    <h2 class="text-4xl font-bold text-center">{board.title}</h2>
    <div class="flex gap-4 w-full flex-1">
      <Card className="w-1/2  ">
        <CardHeader>
          <CardTitle className="text-center text-2xl">Pros</CardTitle>
        </CardHeader>
        <CardContent>
          <ul class="flex flex-col gap-6">
            {
              board.pros.split(",").map((pro: string) => (
                <li>
                  <p class="text-xl flex gap-2 items-center">
                    <CheckIcon className="text-green-500" />
                    {pro}
                  </p>
                </li>
              ))
            }
          </ul>
        </CardContent>
      </Card>
      <Card className="w-1/2 ">
        <CardHeader>
          <CardTitle className="text-center text-2xl">Contras</CardTitle>
        </CardHeader>
        <CardContent>
          <ul class="flex flex-col gap-6">
            {
              board.cons.split(",").map((con: string) => (
                <li>
                  <p class="text-xl flex gap-2 items-center">
                    <XIcon className="text-red-500" />
                    {con}
                  </p>
                </li>
              ))
            }
          </ul>
        </CardContent>
      </Card>
    </div>
    <div class="flex justify-center">
      <a href={`/writeboard/${id}`}>
        <Button className="cursor-pointer">Editar</Button>
      </a>
    </div>
  </div>
</AppLayout>
