---
import Layout from "@/layouts/Layout.astro";
import { pb } from "@/lib/pocketbase";

const boards = await pb.collection("boards").getFullList();

const ExtraerPros = (board) => {
  return board.pros.split(",");
};

const ExtraerCons = (board) => {
  return board.cons.split(",");
};
---

<Layout>
  <section
    class="w-full h-screen bg-[var(--background)] flex flex-col items-center justify-center"
  >
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Panel de control</h3>
          <p>Bienvenido a tu panel de control.</p>
          <a href="/"
            ><button
              class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
              >Salir</button
            ></a
          >
          <a href="/writeboard"
            ><button
              class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
              >Crear una nueva tabla</button
            ></a
          >
          <ul>
            {
              boards.map((board) => (
                <li>
                  <div>
                    <h3>{board.title}</h3>
                    <div class="flex gap-4 bg-[var(--muted)] p-4 rounded-lg shadow-2xl">
                      <ul class="flex flex-col justify-center items-center gap-2 w-1/2">
                        <h4 class="text-2xl font-bold">Contras</h4>
                        {ExtraerCons(board).map((cons: string) => (
                          <li>{cons}</li>
                        ))}
                      </ul>
                      <ul class="flex flex-col justify-center items-center gap-2 w-1/2">
                        <h4 class="text-2xl font-bold">Pros</h4>
                        {ExtraerPros(board).map((pros: string) => (
                          <li>{pros}</li>
                        ))}
                      </ul>
                    </div>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
