---
import Boards from "@/components/Boards";
import Layout from "@/layouts/Layout.astro";
import { pb } from "@/lib/pocketbase";
import type { Board } from "@/lib/types";
import UserButton from "node_modules/@clerk/astro/components/interactive/UserButton/UserButton.astro";

const boards = await pb.collection("boards").getFullList<Board>();

const ExtraerPros = (board: Board) => {
  return board.pros.split(",");
};

const ExtraerCons = (board: Board) => {
  return board.cons.split(",");
};
---

<Layout>
  <section
    class="w-full h-screen bg-[var(--background)] flex items-center justify-center"
  >
    <div class="w-full h-full">
      <div class="flex gap-4">
        <div
          class="w-1/4 shadow-2xl h-screen p-4 flex flex-col justify-center items-center"
        >
          <h3>Panel de control</h3>
          <UserButton showName />
          <p>Bienvenido a tu panel de control.</p>
          <div>
            <a href="/"
              ><button
                class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
                >Salir</button
              ></a
            >
            <a href="/writeboard"
              ><button
                class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
                >Crear una nueva tabla</button
              ></a
            >
          </div>
        </div>
        <Boards client:load />
      </div>
    </div>
  </section>
</Layout>
