---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Panel de control</h3>
        <p>Bienvenido a tu panel de control.</p>
      </div>
    </div>
  </div>
</Layout>
