---
import { UserProfile } from "@clerk/astro/components";
import AppLayout from "@src/layouts/AppLayout.astro";
---

<AppLayout>
  <div class="flex items-center justify-center">
    <UserProfile />
  </div>
</AppLayout>
