---
import { UserProfile } from "@clerk/astro/components";
import AppLayout from "@src/layouts/AppLayout.astro";
import { dark } from "@clerk/themes";
---

<AppLayout>
  <div class="flex items-center justify-center">
    <UserProfile appearance={{ baseTheme: dark }} />
  </div>
</AppLayout>
