---
import WriteBoard from "@src/components/writeboard/WriteBoard";
import AppLayout from "@src/layouts/AppLayout.astro";

const { userId, redirectToSignIn } = Astro.locals.auth();
if (!userId) {
  return redirectToSignIn();
}

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/dashboard");
}
---

<AppLayout>
  <div class="w-3/4 p-4 h-full">
    <WriteBoard userId={userId} idBoard={id} client:only="react" />
  </div>
</AppLayout>
