---
import { ModeToggle } from "@src/components/common/ModeToggle";
import WriteBoard from "@src/components/writeboard/WriteBoard";
import Layout from "@src/layouts/Layout.astro";

const { userId, redirectToSignIn } = Astro.locals.auth();
if (!userId) {
  return redirectToSignIn();
}

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/dashboard");
}
---

<Layout>
  <section class="w-full h-screen bg-[var(--background)] flex">
    <div class="w-1/4 p-4 flex flex-col items-center justify-center shadow-2xl">
      <h1>WriteBoard</h1>
      <ModeToggle client:only="react" />
      <a href="/dashboard"
        ><button
          class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
          >Regresar</button
        ></a
      >
    </div>
    <div class="w-3/4 p-4">
      <WriteBoard userId={userId} idBoard={id} client:only="react" />
    </div>
  </section>
</Layout>
