---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    class="w-full h-screen bg-[var(--background)] flex flex-col items-center justify-center"
  >
    <h1>WriteBoard</h1>
    <a href="/dashboard"
      ><button
        class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
        >Regresar</button
      ></a
    >
  </section>
</Layout>
