---
import WriteBoard from "@src/components/writeboard/WriteBoard";
import AppLayout from "@src/layouts/AppLayout.astro";

const { userId, redirectToSignIn } = Astro.locals.auth();
if (!userId) {
  return redirectToSignIn();
}
---

<AppLayout>
  <div class="w-3/4 h-full p-4">
    <WriteBoard userId={userId} client:only="react" />
  </div>
</AppLayout>
