---
import Layout from "@src/layouts/Layout.astro";
import Hero from "@src/components/landing/Hero.astro";
import Service from "@src/components/landing/Service.astro";
import Contact from "@src/components/landing/Contact.astro";
import Pricing from "@src/components/landing/Pricing.astro";
import Footer from "@src/components/landing/Footer.astro";
import NavBar from "@src/components/landing/NavBar.astro";
---

<Layout>
  <NavBar />
  <main>
    <Hero />
    <Service />
    <!-- <Pricing /> -->
    <Contact />
  </main>
  <Footer />
</Layout>
