---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    class="w-full h-screen bg-[var(--background)] flex flex-col items-center justify-center"
  >
    <h1>Registrarse</h1>
    <a href="/login"
      ><button
        class="p-2 rounded-lg bg-[var(--primary)] text-white cursor-pointer"
        >Iniciar Sesión</button
      ></a
    >
  </section>
</Layout>
