---
import Layout from "./Layout.astro";
import AsideBar from "../components/common/AsideBar";
---

<Layout>
  <section class="w-full h-screen bg-[var(--background)] flex">
    <AsideBar client:only="react" />
    <main class="flex flex-1 items-center justify-center">
      <slot />
    </main>
  </section>
</Layout>
