---
import "../styles/global.css";
---

<!doctype html>
<html lang="es" class="m-0 w-full h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>PRO/CONT</title>
  </head>
  <body class="m-0 w-full h-full">
    <slot />
  </body>
</html>
